<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Crypterv2_DevTool.Core.PluginTestConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Crypterv2_DevTool.Core.PluginTestConfig>
            <setting name="recentDirectory" serializeAs="String">
                <value>null</value>
            </setting>
        </Crypterv2_DevTool.Core.PluginTestConfig>
    </userSettings>
</configuration>