<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!---->
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="LILO_Packager.v2.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<LILO_Packager.v2.config>
   <setting name="allowedPlugins" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="openMediaIn" serializeAs="String">
    <value>buildIn</value>
   </setting>
   <setting name="debugMode" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="autoUpdates" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="deleteFile" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="aggrementAccepted" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="experimentsEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="localUserImage" serializeAs="String">
    <value />
   </setting>
   <setting name="installedBindings" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="debugInstallHelper" serializeAs="String">
    <value>False</value>
   </setting>
  </LILO_Packager.v2.config>
	</userSettings>
</configuration>